# EGX30 Constituents Fundamental Data Scrapping

In this notebook, we shall build a web scrapper to extract fundamental data of a given list of stocks from [investing.com](https://www.investing.com/equities). The extracted data incude:  
- Income Statemnts
- Balance Sheets
- Cash Flow Statements
- Financial Ratios of Stocks vs Industry  

After running the code in this notebook, we shall end-up with 2 excel sheets:
- **Financial Statements.xlsx:**
    - metric name
    - 4 columns with dates (2020:2023)
    - statement ('income-statement', 'balance-sheet', 'cash-flow')
    - asset symbol
- **Financial Ratios.xlsx:**
    - metric name
    - 2 columns for the asset and the industry
    - asset symbol

## Imports & Settings

In [7]:
from time import sleep
from re import sub
import pandas as pd
import numpy as np
import datetime

from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Building the scrapper

In [26]:
class FundamentalsLoader():
    def __init__(self, chromedriver_path, wait_period=10, freq='annually'):
        options = Options()
        options.page_load_strategy = 'none'
        self.DRIVER = webdriver.Chrome(chromedriver_path, options=options)
        self.WAIT_PERIOD = wait_period
        self.WAIT = WebDriverWait(self.DRIVER, wait_period)
        self.FREQ = freq
        self.ANNUAL_XPATH = '//*[@id="leftColumn"]/div[8]/div[1]/a[1]'
        
    def load_page(self, asset_url_id, statement):
        url = f'https://www.investing.com/equities/{asset_url_id}-{statement}'
        self.DRIVER.get(url)
        self.WAIT.until(EC.url_to_be(url))
        sleep(5)
        if statement != 'ratios' and self.FREQ == 'annually':
            annual_button = self.DRIVER.find_element(By.XPATH, self.ANNUAL_XPATH)
            self.DRIVER.execute_script("arguments[0].click();", annual_button)
            sleep(5)
    
    def get_val(self, td):
        # numeric columns store their value in this attribute in addition to text
        val = td.get('data-format-value')
        if val:
            try:
                return np.float64(val)
            except ValueError:
                return np.nan
        return td.text
    
    def get_data(self, asset_id, asset_url_id, statement):
        self.load_page(asset_url_id, statement)
        soup = BeautifulSoup(self.DRIVER.page_source, 'html.parser')
        if statement == 'ratios':
            table = soup.find('table', id='rrTable')
        else:
            table = soup.find('div', id='rrtable')

        columns = [x.text.lower().replace(' ', '').rstrip('*') for x in table.find_all('th')]
        if statement=='cash-flow':
            columns=columns[:5]
        
        if statement != 'ratios':
            try:
                columns = ['metric']+[datetime.datetime.strptime(x, '%Y%d/%m').date() for x in columns[1:]]
            except:
                columns = ['metric']+[datetime.datetime.strptime(x, '%Y%d/%m').date() for x in columns[1:-1]]+['empty']
        rows = []
        for tr in table.find_all('tr'):
            row = [self.get_val(x) for x in tr.find_all('td')]
            if len(row)!=len(columns):
                continue
            rows.append(row)

        df = pd.DataFrame(columns=columns, data=rows)
        if statement != 'ratios':
            df['statement'] = [statement,]*df.shape[0]
        df['asset'] = [asset_id,]*df.shape[0]
    
        return df

## Downloading the data

First, we load the list of assets for which we want to download fundamental data. **Note** that this sheet must be prapared manually for the desired list of assets by gathering the `symbol`, `name`, and `url_id` from [investing.com](https://www.investing.com/equities).

In [4]:
assets = pd.read_csv('C:/investment/EGX/data/egx30_constituents.csv')
assets.head()

,symbol,name,url_id
0,ADIB,Abu Dhabi Islamic Bank,abu-dhabi-islamic-bank-egypt
1,ABUK,Abu Qir Fertilizers and Chemical Industries,abou-kir-fertilizers
2,ALCN,Alexandria Containers&goods,alexandria-containers-and-goods
3,AMOC,Alexandria Mineral Oils,alx-mineral-oi
4,BTFH,Beltone Financial Hld,beltone-financial-holding

Now we iterate over the list of assets to download the desired financial statements for each asset; After each iteration, the loaded data is concatinated with `financial_statements` DataFrame.

In [28]:
chromedriver_path = "C:/Users/AbdullahBahi/.wdm/drivers/chromedriver/win64/125.0.6422.78/chromedriver.exe"
fl = FundamentalsLoader(chromedriver_path=chromedriver_path)

statements = ['income-statement', 'balance-sheet', 'cash-flow']
# financial_statements = pd.DataFrame()
for asset_id, asset_url_id in zip(assets.symbol, assets.url_id):
    for statement in statements:
        data = fl.get_data(asset_id=asset_id, asset_url_id=asset_url_id, statement=statement)
        financial_statements = pd.concat([financial_statements, data], ignore_index=True)
    print(f'Financial Statements of {asset_id} are downloaded successfully!')
financial_statements.head()

Financial Statements of ORAS are downloaded successfully!
Financial Statements of ORHD are downloaded successfully!
Financial Statements of ORWE are downloaded successfully!
Financial Statements of PHDC are downloaded successfully!
Financial Statements of CCAP are downloaded successfully!
Financial Statements of SKPC are downloaded successfully!
Financial Statements of TMGH are downloaded successfully!
Financial Statements of ETEL are downloaded successfully!

,metric,2023-12-31,2022-12-31,2021-12-31,2020-12-31,statement,asset,2023-06-30,2022-06-30,2021-06-30,2020-06-30,empty
0,Net Interest Income,8929.45,-,3615.91,3106.58,income-statement,ADIB,NaN,NaN,NaN,NaN,NaN
1,"Interest Income, Bank",19538.95,-,8197.87,7147.76,income-statement,ADIB,NaN,NaN,NaN,NaN,NaN
2,Total Interest Expense,10609.5,-,4581.96,4041.18,income-statement,ADIB,NaN,NaN,NaN,NaN,NaN
3,Loan Loss Provision,1633.83,-,175.59,444.29,income-statement,ADIB,NaN,NaN,NaN,NaN,NaN
4,Net Interest Income After Loan Loss Provision,7295.62,-,3440.32,2662.29,income-statement,ADIB,NaN,NaN,NaN,NaN,NaN

Now we iterate over the list of assets to download the financial ratios for each asset vs its industry; After each iteration, the loaded data is concatinated with `financial_ratios` DataFrame.

In [29]:
financial_ratios = pd.DataFrame()
for asset_id, asset_url_id in zip(assets.symbol, assets.url_id):
    data = fl.get_data(asset_id=asset_id, asset_url_id=asset_url_id, statement='ratios')
    financial_ratios = pd.concat([financial_ratios, data], ignore_index=True)
    print(f'Financial Ratios of {asset_id} are downloaded successfully!')
financial_ratios.head()

Financial Ratios of ADIB are downloaded successfully!
Financial Ratios of ABUK are downloaded successfully!
Financial Ratios of ALCN are downloaded successfully!
Financial Ratios of AMOC are downloaded successfully!
Financial Ratios of BTFH are downloaded successfully!
Financial Ratios of COMI are downloaded successfully!
Financial Ratios of SUGR are downloaded successfully!
Financial Ratios of EFIH are downloaded successfully!
Financial Ratios of EAST are downloaded successfully!
Financial Ratios of EFID are downloaded successfully!
Financial Ratios of HRHO are downloaded successfully!
Financial Ratios of EKHOA are downloaded successfully!
Financial Ratios of EKHO are downloaded successfully!
Financial Ratios of PHAR are downloaded successfully!
Financial Ratios of SWDY are downloaded successfully!
Financial Ratios of ESRS are downloaded successfully!
Financial Ratios of FWRY are downloaded successfully!
Financial Ratios of GBCO are downloaded successfully!
Financial Ratios of ISPH are downloaded successfully!
Financial Ratios of JUFO are downloaded successfully!
Financial Ratios of MASR are downloaded successfully!
Financial Ratios of HELI are downloaded successfully!
Financial Ratios of MFPC are downloaded successfully!
Financial Ratios of ORAS are downloaded successfully!
Financial Ratios of ORHD are downloaded successfully!
Financial Ratios of ORWE are downloaded successfully!
Financial Ratios of PHDC are downloaded successfully!
Financial Ratios of CCAP are downloaded successfully!
Financial Ratios of SKPC are downloaded successfully!
Financial Ratios of TMGH are downloaded successfully!
Financial Ratios of ETEL are downloaded successfully!

                          name company industry asset
0                                                ADIB
1                P/E Ratio TTM    3.41     7.81  ADIB
2           Price to Sales TTM    1.84     3.51  ADIB
3       Price to Cash Flow MRQ   -3.53    -2.43  ADIB
4  Price to Free Cash Flow TTM    1.35    -6.16  ADIB

## Saving the data

Finally, we save the 2 DataFrames `financial_statements` and `financial_ratios` to excel files for reuse.

In [33]:
financial_statements.to_excel('Financial Statements.xlsx')
financial_ratios.to_excel('Financial Ratios.xlsx')